@charset "utf-8";
@import url(reset.css);
@import url(layouts.css);
@import url(navigation.css);
@import url(anythingslider.css);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,300italic,700&subset=latin,latin-ext);

a{
	color: #316cc5;
	text-decoration: none;
	transition: .2s
	}
a:hover{
	color: #316cc5;
	text-decoration: underline
	}
html{
	min-height: 100%;
	}
body{
	min-width: 1260px;
	min-height: 100%;
	font: normal 13px/18px "Open Sans", Arial, Helvetica, sans-serif;
	background: #fafafa;
	}
blockquote{
	margin: 0 0 20px 35px;
	}

dl{
	margin-bottom: 10px;
	}
dt{
	font-weight: bold}
dd{
	padding-left: 40px;}
em{
	font-style: italic
	}
em strong{
	font-style: italic;
	font-weight: bold
	}
h1{
	}
h2 {
	margin: 0 0 30px;
	color: #57585a;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	text-transform: uppercase
	}
h2 .sub{
	color: #a9a9a9;
	font-weight: normal;
	font-size: 12px;
	}
h3 {
	margin: 0 0 20px;
	color: #57585a;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	text-transform: uppercase
	}
h4 {
	margin: 0 0 20px;
	padding: 0 0 15px;
	color: #57585a;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	border-bottom: 1px solid #e9e9e9
	}
h5{
	margin: 0 0 15px;
	color: #57585a;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	}
h5 .sub{
	color: #808080;
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
	}
h6{
	}
input[type=text]{
	}
select{
	}

ol li, ul li{
	}
ol.decimal li{
	list-style-type: decimal
	}
ol.roman li{
	list-style-type: upper-roman
	}

ol{
	margin: 0 0 20px;
	}
ol li{
	list-style-type: decimal
	}
p{
	margin-bottom: 19px;
	}
strong{
	font-weight: bold
	}
table{
	}
table td{
	}
table th{
	}

ul.disc li{
	list-style-image: none;
	list-style-type: disc
	}
ul.circle li{
	list-style-image: none;
	list-style-type: circle
	}
ul.square li{
	list-style-type: square
	}

/* Block level classes */

.db{display: block}
.di{display: inline}
.dib{display: inline-block}

.clearer{clear: both}
.clearer-l{clear: left}
.clearer-r{clear: right}

.fr{float: right}
.fl{float: left}

.m5{margin: 5px}
.m10{margin: 10px}
.m15{margin: 15px}
.m20{margin: 20px}

.mt5{margin-top: 5px}
.mt10{margin-top: 10px}
.mt15{margin-top: 15px}
.mt20{margin-top: 20px}

.mr5{margin-right: 5px}
.mr10{margin-right: 10px}
.mr15{margin-right: 15px}
.mr20{margin-right: 20px}

.mb5{margin-bottom: 5px}
.mb10{margin-bottom: 10px}
.mb15{margin-bottom: 15px}
.mn20{margin-bottom: 20px}

.ml5{margin-left: 5px}
.ml10{margin-left: 10px}
.ml15{margin-left: 15px}
.ml20{margin-left: 20px}

.no-margin{margin: 0}

.p5{padding: 5px}
.p10{padding: 10px}
.p15{padding: 15px}
.p20{padding: 20px}

.pt5{padding-top: 5px}
.pt10{padding-top: 10px}
.pt15{padding-top: 15px}
.pt20{padding-top: 20px}

.pr5{padding-right: 5px}
.pr10{padding-right: 10px}
.pr15{padding-right: 15px}
.pr20{padding-right: 20px}

.pb5{padding-bottom: 5px}
.pb10{padding-bottom: 10px}
.pb15{padding-bottom: 15px}
.pn20{padding-bottom: 20px}

.pl5{padding-left: 5px}
.pl10{padding-left: 10px}
.pl15{padding-left: 15px}
.pl20{padding-left: 20px}

.no-padding{padding: 0}

.center{display: block; margin-left: auto; margin-right: auto}

.image-right{
	float: right;
	margin: 0 0 30px 30px
	}
.image-left{
	float: left;
	margin: 0 30px 30px 0;
	padding: 12px;
	background: #fff;
	box-shadow: 0 0 6px #bebebe
	}

/* Font and text classes */

.black{color: #000}
.white{color: #fff}
.red{color: #ea0437}
.blue{color: #152e64}

.bold{font-weight: bold}
.no-bold{font-weight: normal}
.italic{font-style: italic}

.fs10{font-size: 10px}
.fs11{font-size: 11px}
.fs12{font-size: 12px}
.fs13{font-size: 13px}
.fs14{font-size: 14px}
.fs15{font-size: 15px}
.fs16{font-size: 16px}
.fs16{font-size: 16px}
.fs18{font-size: 18px}
.fs16{font-size: 19px}
.fs16{font-size: 20px}
.fs25{font-size: 25px}
.fs30{font-size: 30px}
.fs32{font-size: 32px}
.fs63{font-size: 63px}

.lh1em{line-height: 1em}
.lh15em{line-height: 1.5em}
.lh2em{line-height: 2em}

.lh13{line-height: 13px}
.lh14{line-height: 14px}
.lh15{line-height: 15px}
.lh16{line-height: 16px}
.lh18{line-height: 18px}
.lh19{line-height: 19px}
.lh20{line-height: 20px}
.lh25{line-height: 25px}
.lh30{line-height: 30px}
.lh37{line-height: 37px}

.arial{font-family: Arial, Helvetica, sans-serif}
.tahoma{font-family: Tahoma, Geneva, sans-serif}
.trebuchet{font-family: "Trebuchet MS", Arial, Helvetica, sans-serif}
.verdana{font-family: Verdana, Geneva, sans-serif}

.text-left{text-align: left}
.text-center{text-align: center}
.text-right{text-align: right}

.underline{text-decoration: underline}
.no-decoration{text-decoration: none}

.uppercase{text-transform: uppercase}

.text-normal{font-weight: normal; font-style: normal; text-decoration: none; text-transform: none}

/* Background classes */

.bg-white{background: #fff}
.no-bg{background: none}

/* Border classes */

.no-border{border: none}

