.active-filters{
	position: relative;
	margin: 0 18px 0 24px;
	padding: 0 30px 0 0;
	color: #57585a;
	font-weight: 300;
	font-size: 12px;
	line-height: 33px;
	border-bottom: 1px solid #f3f3f3
	}
.active-filters .close{
	position: absolute;
	top: 9px;
	right: 3px;
	width: 17px;
	height: 17px;
	background: url(../images/icon-close-3.png) no-repeat;
	border: none
	}
.active-filters .close:hover{
	border: none;
	}
.active-filters > a,
.active-filters > span{
	display: inline-block;
	padding: 0 3px;
	color: #57585a;
	border-bottom: 1px solid #fff
	}
.active-filters > a:hover{
	color: #2d66bc;
	text-decoration: none;
	border-bottom: 1px solid #2d66bc
	}


.actor-header{
	position: relative;
	padding: 12px 10px;
	background: url(../images/bg-8.png) top repeat-x #050507;
	border-radius: 3px 3px 0 0
	}
.actor-header .share-links{
	position: absolute;
	top: 0;
	right: 13px;
	}
.actor-header h2 {
	margin: 0 0 0px;
	color: #fff;
	font-size: 24px;
	text-transform: none
	}
.actor-header h2 .sub{
	color: #2d66bc;
	font-weight: normal;
	font-style: italic;
	}
.actor-intro{
	overflow: hidden;
	padding: 13px;
	color: #57585a;
	border-bottom: 1px solid #e9e9e9
	}
.actor-intro .photo{
	float: left;
	margin: 0 18px 0 0;
	}
.actor-intro p{
	margin: 0 0 11px;
	}
.actor-intro .more{
	font-size: 12px;
	}

.actors{
	position: relative;
	padding: 15px 0 0 18px;
	border-bottom: 1px solid #e9e9e9;
	}
.actors .all{
	position: absolute;
	top: 21px;
	right: 36px;
	padding: 0 0 0 26px;
	height: 19px;
	color: #acacac;
	font-weight: bold;
	font-size: 10px;
	line-height: 19px;
	text-transform: uppercase;
	background: url(../images/bullet-2.png) no-repeat
	}
.actors > .inner{
	width: 1030px;
	}
.actors .actor{
	float: left;
	margin: 0 49px 37px 0;
	padding: 0 0 0 140px;
	width: 145px;
	}
.actors .actor > .photo{
	float: left;
	margin: 0 0 0 -140px;
	}
.actors .actor > .text{
	height: 180px;
	overflow: hidden;
	}
.actors .actor .name{
	margin: 0 0 10px;
	display: block;
	color: #57585a;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	}
.actors .actor .genres{
	margin: 0 0 15px;
	color: #316cc5;
	font-size: 12px;
	line-height: 16px;
	}
.actors .actor .descr{
	color: #808080;
	font-size: 12px;
	line-height: 14px;
	}

.breadcrumbs{
	padding: 17px 5px;
	color: #939393;
	font-size: 12px;
	line-height: 16px;
	}
.breadcrumbs a{
	display: inline-block;
	padding: 0 6px 0 13px;
	color: #57585a;
	background: url(../images/bullet-6.png) left 5px no-repeat
	}
.breadcrumbs a.home{
	padding-left: 0;
	background: none
	}
.breadcrumbs span{
	display: inline-block;
	padding: 0 6px 0 13px;
	background: url(../images/bullet-6.png) left 5px no-repeat
	}
.button-1{
	padding: 0 20px;
	display: inline-block;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 40px;
	text-decoration: none;
	background: url(../images/button-1.png) 0 0 no-repeat;
	box-shadow: 1px 1px 4px -1px #000
	}
.button-1 > span{
	display: block;
	margin: 0 -20px 0 0;
	padding: 0 20px 0 0;
	height: 44px;
	background: url(../images/button-1.png) bottom right no-repeat
	}
.button-1:hover{
	color: #fff;
	text-decoration: none;
	}

.button-play{
	padding: 0 10px 0 56px;
	display: inline-block;
	color: #fff;
	font-weight: 300;
	font-size: 20px;
	line-height: 40px;
	text-decoration: none;
	background: url(../images/button-play-1.png) 0 0 no-repeat;
	box-shadow: 1px 1px 4px -1px #000
	}
.button-play > span{
	display: block;
	margin: 0 -10px 0 0;
	padding: 0 23px 0 0;
	height: 44px;
	background: url(../images/button-play-1.png) bottom right no-repeat
	}
.button-play:hover{
	color: #fff;
	text-decoration: none;
	}
.button-play.type-2{
	padding: 0 10px 0 48px;
	font-size: 18px;
	line-height: 33px;
	background: url(../images/button-play-2.png) 0 0 no-repeat;
	}
.button-play.type-2 > span{
	display: block;
	padding: 0 18px 0 0;
	height: 38px;
	background: url(../images/button-play-2.png) bottom right no-repeat
	}

.button-more{
	display: block;
	margin: 0px auto 40px;
	padding: 0 0 0 40px;
	width: 200px;
	height: 24px;
	color: #57585a;
	font-weight: 300;
	font-size: 24px;
	line-height: 20px;
	background: url(../images/icon-load.png) no-repeat;
	}


.comments-wrapper{
	overflow: hidden;
	border-bottom: 1px solid #e9e9e9
	}
.comments-wrapper > .comments{
	float: left;
	padding: 15px 21px 15px 18px;
	width: 628px;
	border-right: 1px solid #e9e9e9
	}
.comments-wrapper > .banner{
	float: left;
	margin: 15px 0 0 15px;
	border: 1px solid #000
	}
	
.home .category{
	position: relative;
	overflow: auto;
	padding: 20px 0 10px 150px
	}
.home .category-wrapper{
	background: #fcfcfc;
	border-bottom: 1px solid #e8e8e8
	}
.home .category-wrapper.grey{
	background: #f3f3f3;
	}
.home .category .all{
	position: absolute;
	top: 25px;
	right: 32px;
	padding: 0 0 0 26px;
	height: 19px;
	color: #acacac;
	font-weight: bold;
	font-size: 10px;
	line-height: 17px;
	text-transform: uppercase;
	background: url(../images/bullet-2.png) no-repeat
	}
.home .category > .inner{
	overflow: auto;
	height: 220px;
	}
@media (min-width: 482px) and (max-width: 814px) {
	.home .category{
		width: 332px
		}
	}
@media (min-width: 814px) and (max-width: 1146px) {
	.home .category{
		width: 664px
		}
	}
@media (min-width: 1146px) and (max-width: 1478px) {
	.home .category{
		width: 996px
		}
	}
@media (min-width: 1478px) and (max-width: 1810px) {
	.home .category{
		width: 1328px
		}
	}
@media (min-width: 1810px) and (max-width: 2142px) {
	.home .category{
		width: 1660px
		}
	}
@media (min-width: 2142px) and (max-width: 2474px) {
	.home .category{
		width: 1992px
		}
	}
.home .category.sets{
	_overflow: hidden;
	}	
.home .category.sets > .inner{
	_width: 2000px;
	height: 230px;
	}

.home .most-popular-wrapper{
	background: #222429;
	}
.home .most-popular{
	position: relative;
	overflow: hidden;
	padding: 20px 0 10px 150px;
	max-width: 1630px;
	}

@media (min-width: 1599px) and (max-width: 1780px) {
	.home .most-popular{
		width: 1448px
		}
	}
@media (min-width: 1318px) and (max-width: 1598px) {
	.home .most-popular{
		width: 1267px
		}
	}
@media (min-width: 1056px) and (max-width: 1317px) {
	.home .most-popular{
		width: 905px
		}
	}
.home .most-popular h2{
	margin-bottom: 20px;
	}
.home .most-popular .like{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 37px;
	height: 49px;
	background: url(../images/icon-like-2.png) no-repeat
	}
.home .most-popular > .inner{
	overflow: auto;
	width: 1630px;
	height: 486px;
	background: #fff;
	box-shadow: 2px 2px #1b1d21;
	}
.home .most-popular .tab-cont{
	overflow: hidden;
	height: 336px;
	}
.home .most-popular .images{
	position: relative;
	float: left;
	overflow: hidden;
	width: 905px;
	height: 336px;
	}
.home .most-popular .images .img-cont{}
.home .most-popular .images .pagination{
	position: absolute;
	right: 19px;
	bottom: 9px;
	z-index: 99
	}
.home .most-popular .images .pagination a{
	overflow: hidden;
	float: left;
	margin: 0 0 0 2px;
	width: 13px;
	height: 13px;
	text-indent: 13px;
	line-height: 50px;
	background: url(../images/bullet-3.png) no-repeat
	}
.home .most-popular .images .pagination a.activeSlide{
	background: url(../images/bullet-4.png) no-repeat
	}
.home .most-popular .images .img-cont img{
	float: left;
	}
.home .most-popular .text{
	float: left;
	padding: 12px 14px 0 17px;
	width: 330px;
	}
.home .most-popular .text{}
.home .most-popular .text > .likes{
	margin: 0 0 15px;
	padding: 0 0 0 21px;
	height: 12px;
	color: #57585a;
	font-size: 11px;
	line-height: 13px;
	background: url(../images/icon-like-3.png) no-repeat
	}
.home .most-popular .text .name{
	margin: 0 0 10px;
	color: #316cc4;
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;
	}
.home .most-popular .text .cat{
	margin: 0 0 13px;
	color: #646464;
	font-weight: bold;
	font-size: 9px;
	line-height: 9px;
	text-transform: uppercase
	}
.home .most-popular .text .desc{
	margin: 0 0 5px;
	color: #57585a;
	font-size: 11px;
	line-height: 11px;
	}
.home .most-popular .text .dir{
	margin: 0 0 15px;
	color: #808080;
	font-style: italic;
	font-size: 11px;
	line-height: 11px;
	}
.home .most-popular .text .rating{
	margin: 0 0 12px;
	color: #00AC00;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	}
.home .most-popular .text .rating .bar{
	margin: 3px 0 5px;
	width: 130px;
	height: 3px;
	font-size: 0;
	background: #515151;
	border-radius: 2px;
	}
.home .most-popular .text .rating .bar div{
	height: 3px;
	background: #00AC00
	}
.home .most-popular .text .rating .likes{
	padding: 0 0 0 20px;
	height: 12px;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	background: url(../images/icon-like.png) no-repeat
	}
.home .most-popular .text .desc-2{
	margin: 0 0 15px;
	padding: 9px 0 12px;
	color: #808080;
	font-size: 13px;
	line-height: 18px;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	}

.home .most-popular .frames{
	float: left;
	padding: 17px 0 0;
	width: 364px;
	}
.home .most-popular .frames a{
	position: relative;
	float: left;
	margin: 0 18px 15px;
	width: 146px;
	height: 92px;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	}
.home .most-popular .frames a img{
	position: absolute;
	top: 0;
	left: 0;
	width: 146px;
	height: 92px;
	}
.home .most-popular .frames a > span{
	position: absolute;
	top: 0;
	left: 0;
	width: 146px;
	height: 92px;
	background: url(../images/bg-4.png);
	}
.home .most-popular .frames a > span > span{
	display: block;
	padding: 62px 0 0;
	text-align: center;
	background: url(../images/icon-frames.png) center 24px no-repeat;
	}
.home .most-popular .tab-nav{
	overflow: hidden;
	height: 150px;
	}
.home .most-popular .tab-nav > a{
	position: relative;
	float: left;
	padding: 12px 0 0 14px;
	width: 166px;
	height: 138px;
	color: #a9a9a9;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	background: url(../images/line-2.png) top repeat-x;
	border-right: 1px solid #efeff1
	}
.home .most-popular .tab-nav > a:hover,
.home .most-popular .tab-nav > a.current{
	background: url(../images/line-1.png) top repeat-x
	}
.home .most-popular .tab-nav > a .cat{
	margin: 0 0 5px;
	font-weight: bold;
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	}
.home .most-popular .tab-nav > a .name{
	margin: 0 0 12px;
	font-weight: bold;
	}
.home .most-popular .tab-nav > a .desc{
	margin: 0 0 15px;
	font-size: 11px;
	line-height: 15px;
	}
.home .most-popular .tab-nav > a .desc{
	margin: 0 0px;
	color: #57585a;
	font-size: 11px;
	line-height: 15px;
	}
.home .most-popular .tab-nav > a .dir{
	color: #808080;
	font-style: italic;
	font-size: 11px
	}
.home .most-popular .tab-nav > a .likes{
	position: absolute;
	bottom: 9px;
	left: 12px;
	padding: 0 0 0 21px;
	height: 12px;
	color: #57585a;
	font-size: 11px;
	line-height: 13px;
	background: url(../images/icon-like-4.png) no-repeat
	}
.home .most-popular .tab-nav > a:hover .cat,
.home .most-popular .tab-nav > a.current .cat,
.home .most-popular .tab-nav > a:hover .name,
.home .most-popular .tab-nav > a.current .name{
	color: #316cc5
	}
.home .most-popular .tab-nav > a:hover .likes,
.home .most-popular .tab-nav > a.current .likes{
	background: url(../images/icon-like-3.png) no-repeat
	}

	
.home .category.new{
	padding-bottom: 10px;
	}	
.home .category.new > .inner{
	height: 345px;
	}	
.home .category.new h2{
	margin-bottom: 20px;
	}

	
	
.item{
	float: left;
	position: relative;
	margin: 0 49px 20px 0;
	padding: 0 0 0 140px;
	width: 143px;
	height: 182px;
	}
.item > .image{
	position: relative;
	float: left;
	margin: 0 0 0 -140px;
	height: 182px;
	width: 127px;
	border-radius: 2px;
	}
.item > .image .format{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 6px 0 0 6px;
	height: 20px;
	width: 121px;
	background: url(../images/bg-1.png);
	border-radius: 0 0 2px 2px;
	}
.item > .image .format img{
	margin-right: 1px;
	}
.item > .text{
	height: 107px;
	}
.item > .text > .name{
	margin: -3px 0 15px;
	color: #316cc5;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	}
.item > .text > .description{
	margin: 0 0;
	color: #57585a;
	font-size: 12px;
	line-height: 18px;
	}
.item > .text > .director{
	margin: 0 0;
	color: #808080;
	font-style: italic;
	font-size: 12px;
	line-height: 18px;
	}
.item > .rating{
	margin: 0 0 16px;
	color: #00AC00;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	}
.item > .rating .bar{
	margin: 3px 0 5px;
	width: 130px;
	height: 3px;
	font-size: 0;
	background: #515151;
	border-radius: 2px;
	}
.item > .rating .bar div{
	height: 3px;
	background: #00AC00
	}
.item > .rating .likes{
	padding: 0 0 0 20px;
	height: 12px;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	background: url(../images/icon-like.png) no-repeat
	}
.item > .views,
.item > .comments{
	float: left;
	padding: 0 0 0 24px;
	width: 49px;
	height: 12px;
	color: #57585a;
	font-size: 12px;
	line-height: 12px;
	background: url(../images/icon-view.png) no-repeat
	}
.item > .comments{
	padding: 0 0 1px 19px;
	background: url(../images/icon-comments.png) 0 1px no-repeat
	}
.item > .overlay{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 17px 11px;
	color: #fff;
	background: url(../images/bg-2.png) bottom repeat-x;
	box-shadow: 0 1px 4px #8e8e8f
	}
.item:hover > .overlay{
	display: block;
	}
.item > .overlay .name{
	margin: 0 0 15px;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	}
.item > .overlay .description{
	color: #c5c5c5;
	font-size: 12px;
	line-height: 14px;
	}
.item > .overlay .trailer{
	position: absolute;
	bottom: 16px;
	left: 14px;
	padding: 0 0 0 23px;
	height: 19px;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	line-height: 20px;
	text-transform: uppercase;
	background: url(../images/icon-trailer.png) no-repeat
	}
.item > .overlay .button-play{
	position: absolute;
	right: 7px;
	bottom: 6px;
	}
	
	
.item-2{
	float: left;
	position: relative;
	margin: 0 32px 20px 0;
	padding: 10px;
	width: 280px;
	height: 292px;
	background: #fff;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	box-shadow: 0 1px 2px #d7d7d7;
	}
.item-2 > .image{
	float: left;
	margin: 0 14px 0 0;
	font-size: 0;
	}
.item-2 > .image img{
	float: left;
	height: 159px;
	width: 112px;
	border-radius: 2px;
	}
.item-2 > .text{
	overflow: hidden;
	height: 159px;
	}
.item-2 > .text > .name{
	margin: 0px 0 10px;
	color: #316cc5;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	}
.item-2 > .text > .description{
	margin: 0 0 10px;
	color: #57585a;
	font-style: italic;
	font-size: 12px;
	line-height: 12px;
	}
.item-2 > .text > .cat{
	margin: 0 0 8px;
	color: #316cc5;
	font-weight: bold;
	font-size: 9px;
	line-height: 9px;
	text-transform: uppercase
	}
.item-2 > .text > .description-2{
	color: #808080;
	font-size: 12px;
	line-height: 14px;
	}
.item-2 > .frames{
	clear: left;
	margin: 10px -10px;
	padding: 10px 0 10px 10px;
	height: 49px;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	}
.item-2 > .frames a{
	position: relative;
	float: left;
	margin: 0 22px 0 0;
	width: 78px;
	height: 49px;
	color: #fff;
 	text-decoration: none;
	}
.item-2 > .frames a.last{
	margin-right: 0
	}
.item-2 > .frames a img{
	position: absolute;
	top: 0;
	left: 0;
	width: 78px;
	height: 49px;
	}
.item-2 > .frames a > span{
	position: absolute;
	top: 0;
	left: 0;
	width: 78px;
	height: 49px;
	background: url(../images/bg-4.png);
	}
.item-2 > .frames a > span > span{
	display: block;
	padding: 30px 0 0 33px;
	height: 15px;
	font-weight: bold;
	font-size: 10px;
	line-height: 13px;
	background: url(../images/icon-items.png) 5px 30px no-repeat;
	}
.item-2 > .frames a.f2 > span > span{
	padding: 0;
	line-height: 49px;
	text-transform: uppercase;
	text-align: center;
	background: none;
	}
.item-2 > .frames a.f3 > span > span{
	padding: 0;
	height: 49px;
	text-transform: uppercase;
	text-align: center;
	background: none;
	background: url(../images/icon-frames-2.png) center no-repeat
	}
.item-2 > .format{
	float: left;
	padding: 14px 0 0;
	width: 139px;
	font-size: 0;
	line-height: 0;
	}
.item-2 > .format.two-lines{
	padding-top: 2px
	}
.item-2 > .format img{
	margin-right: 2px;
	}
.item-2 > .format .text{
	margin: 10px 0 0;
	color: #316cc5;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	}
.item-2 > .rating{
	float: left;
	color: #00AC00;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	}
.item-2 > .rating .bar{
	margin: 3px 0 5px;
	width: 130px;
	height: 3px;
	font-size: 0;
	background: #515151;
	border-radius: 2px;
	}
.item-2 > .rating .bar div{
	height: 3px;
	background: #00AC00
	}
.item-2 > .rating .likes{
	padding: 0 0 0 20px;
	height: 12px;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	background: url(../images/icon-like.png) no-repeat
	}
.item-2 > .overlay{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 17px 11px;
	height: 146px;
	width: 279px;
	color: #fff;
	background: url(../images/bg-2.png) bottom repeat-x;
	}
.item-2:hover > .overlay{
	display: block;
	}
.item-2 > .overlay .name{
	margin: 0 0 15px;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	}
.item-2 > .overlay .description{
	color: #c5c5c5;
	font-size: 12px;
	line-height: 14px;
	}
.item-2 > .overlay .trailer{
	position: absolute;
	bottom: 16px;
	left: 14px;
	padding: 0 0 0 23px;
	height: 19px;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	line-height: 20px;
	text-transform: uppercase;
	background: url(../images/icon-trailer.png) no-repeat
	}
.item-2 > .overlay .button-play{
	position: absolute;
	right: 7px;
	bottom: 6px;
	}
	

.item-3{
	float: left;
	position: relative;
	margin: 0 38px 45px 0;
	padding: 0;
	width: 127px;
	height: 380px;
	}
.item-3 > .image{
	position: relative;
	margin: 0 0 15px;
	height: 182px;
	width: 127px;
	border-radius: 2px;
	}
.item-3 > .image .format{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 6px 0 0 6px;
	height: 20px;
	width: 121px;
	background: url(../images/bg-1.png);
	border-radius: 0 0 2px 2px;
	}
.item-3 > .image .format img{
	margin-right: 2px;
	}
.item-3 > .text{
	margin: 0 0 0;
	height: 110px;
	}
.item-3 > .text > .name{
	display: block;
	margin: 0 0 10px;
	color: #316cc5;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	}
.item-3 > .text > .description{
	margin: 0 0;
	color: #57585a;
	font-size: 12px;
	line-height: 18px;
	}
.item-3 > .text > .director{
	margin: 0 0;
	width: 155px;
	color: #808080;
	font-style: italic;
	font-size: 12px;
	line-height: 18px;
	}
.item-3 > .rating{
	margin: 0 0 15px;
	color: #00AC00;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	}
.item-3 > .rating .bar{
	margin: 3px 0 5px;
	width: 130px;
	height: 3px;
	font-size: 0;
	background: #515151;
	border-radius: 2px;
	}
.item-3 > .rating .bar div{
	height: 3px;
	background: #00AC00
	}
.item-3 > .rating .likes{
	padding: 0 0 0 20px;
	height: 12px;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	background: url(../images/icon-like.png) no-repeat
	}
.item-3 > .views,
.item-3 > .comments{
	float: left;
	padding: 0 0 0 24px;
	width: 47px;
	height: 12px;
	color: #57585a;
	font-size: 12px;
	line-height: 12px;
	background: url(../images/icon-view.png) no-repeat
	}
.item-3 > .comments{
	padding: 0 0 1px 19px;
	width: 35px;
	background: url(../images/icon-comments.png) 0 1px no-repeat
	}
.item-3 > .seen{
	position: absolute;
	top: 0;
	right: 6px;
	height: 100px;
	z-index: 9
	}
.item-3 > .seen > .icon{
	width: 27px;
	height: 37px;
	background: url(../images/icon-seen.png) 0 0 no-repeat ;
	cursor: pointer
	}
.item-3 > .seen:hover > .icon{
	background-position: -27px 0
	}
.item-3 > .seen > .pp{
	display: none;
	position: absolute;
	top: 40px;
	left: -25px;
	padding: 0 5px;
	width: 283px;
	height: 119px;
	background: url(../images/bg-7.png) no-repeat
	}
.item-3 > .seen:hover > .pp{
	display: block
	}
.item-3 > .seen > .pp .when{
	padding: 18px 10px 0 47px;
	height: 44px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	}
.item-3 > .seen > .pp .when span{
	padding: 0 4px;
	color: #606060;
	font-weight: normal;
	}
.item-3 > .seen > .pp .more{
	display: block;
	height: 50px;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase
	}
.item-3 > .to-watch{
	position: absolute;
	top: 0;
	right: 6px;
	height: 100px;
	z-index: 9
	}
.item-3 > .to-watch > .icon{
	width: 28px;
	height: 37px;
	background: url(../images/icon-to-watch.png) 0 0 no-repeat ;
	cursor: pointer
	}
.item-3 > .marked{
	position: absolute;
	top: 0;
	right: 6px;
	height: 100px;
	z-index: 9
	}
.item-3 > .marked > .icon{
	width: 28px;
	height: 37px;
	background: url(../images/icon-marked.png) 0 0 no-repeat ;
	cursor: pointer
	}

.item-3 > .overlay{
	display: none;
	position: absolute;
	top: -3px;
	left: 126px;
	width: 296px;
	height: 189px;
	color: #fff;
	background: url(../images/bg-14.png) no-repeat;
	z-index: 9
	}
.item-3:hover > .overlay{
	display: block;
	}
.item-3 > .overlay > .inner{
	padding: 18px 10px 0 23px;
	}
.item-3 > .overlay .text{
	overflow: hidden;
	height: 115px;
	}
.item-3 > .overlay .name{
	margin: 0 0 15px;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	}
.item-3 > .overlay .description{
	color: #c5c5c5;
	font-size: 12px;
	line-height: 14px;
	}
.item-3 > .overlay .trailer{
	position: absolute;
	bottom: 21px;
	left: 25px;
	padding: 0 0 0 23px;
	height: 19px;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	line-height: 20px;
	text-transform: uppercase;
	background: url(../images/icon-trailer.png) no-repeat
	}
.item-3 > .overlay .button-play{
	position: absolute;
	right: 7px;
	bottom: 11px;
	}
	

.item-4{
	float: left;
	position: relative;
	margin: 0 39px 40px 0;
	padding: 0;
	width: 290px;
	height: 292px;
	background: #fff;
	}
.item-4 > .image{
	position: relative;
	float: left;
	margin: 0 12px 0 0;
	height: 159px;
	width: 112px;
	font-size: 0;
	border-radius: 2px;
	}
.item-4 > .image .format{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 6px 0 0 6px;
	height: 20px;
	width: 106px;
	background: url(../images/bg-1.png);
	border-radius: 0 0 2px 2px;
	}
.item-4 > .image > img{
	height: 159px;
	width: 112px;
	border-radius: 2px;
	}
.item-4 > .image .format img{
	margin-right: 2px;
	}
.item-4 > .text{
	overflow: hidden;
	height: 159px;
	}
.item-4 > .text > .name{
	display: block;
	margin: 0px 0 10px;
	color: #316cc5;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	}
.item-4 > .text > .description{
	margin: 0 0 10px;
	color: #57585a;
	font-style: italic;
	font-size: 12px;
	line-height: 12px;
	}
.item-4 > .text > .cat{
	margin: 0 0 8px;
	color: #316cc5;
	font-weight: bold;
	font-size: 9px;
	line-height: 9px;
	text-transform: uppercase
	}
.item-4 > .text > .description-2{
	color: #808080;
	font-size: 12px;
	line-height: 14px;
	}
.item-4 > .frames{
	clear: left;
	margin: 10px 0px;
	padding: 10px 0 10px 5px;
	height: 50px;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	}
.item-4 > .frames a{
	position: relative;
	float: left;
	margin: 0 22px 0 0;
	width: 78px;
	height: 50px;
	color: #fff;
 	text-decoration: none;
	}
.item-4 > .frames a.last{
	margin-right: 0
	}
.item-4 > .frames a img{
	position: absolute;
	top: 0;
	left: 0;
	width: 78px;
	height: 49px;
	}
.item-4 > .frames a > span{
	position: absolute;
	top: 0;
	left: 0;
	width: 78px;
	height: 49px;
	background: url(../images/bg-4.png);
	}
.item-4 > .frames a > span > span{
	display: block;
	padding: 30px 0 0 33px;
	height: 15px;
	font-weight: bold;
	font-size: 10px;
	line-height: 13px;
	background: url(../images/icon-items.png) 5px 30px no-repeat;
	}
.item-4 > .frames a.f2 > span > span{
	padding: 0;
	line-height: 49px;
	text-transform: uppercase;
	text-align: center;
	background: none;
	}
.item-4 > .frames a.f3 > span > span{
	padding: 0;
	height: 49px;
	text-transform: uppercase;
	text-align: center;
	background: none;
	background: url(../images/icon-frames-2.png) center no-repeat
	}
.item-4 > .rating{
	margin: 0 0 0 5px;
	float: left;
	color: #00AC00;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	}
.item-4 > .rating .bar{
	margin: 3px 0 5px;
	width: 130px;
	height: 3px;
	font-size: 0;
	background: #515151;
	border-radius: 2px;
	}
.item-4 > .rating .bar div{
	height: 3px;
	background: #00AC00
	}
.item-4 > .rating .likes{
	padding: 0 0 0 20px;
	height: 12px;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	background: url(../images/icon-like.png) no-repeat
	}
.item-4 > .views,
.item-4 > .comments{
	float: left;
	margin: 18px 0 0;
	padding: 0 0 0 24px;
	width: 55px;
	height: 12px;
	color: #57585a;
	font-size: 12px;
	line-height: 12px;
	background: url(../images/icon-view.png) no-repeat
	}
.item-4 > .views{
	margin-left: 30px;
	}
.item-4 > .comments{
	padding: 0 0 1px 19px;
	width: 25px;
	background: url(../images/icon-comments.png) 0 1px no-repeat
	}
.item-4 > .to-watch{
	position: absolute;
	top: 0;
	left: 78px;
	height: 100px;
	z-index: 9
	}
.item-4 > .to-watch > .icon{
	width: 28px;
	height: 37px;
	background: url(../images/icon-to-watch.png) 0 0 no-repeat ;
	cursor: pointer
	}
/*
.item-2 > .overlay{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 17px 11px;
	height: 146px;
	width: 279px;
	color: #fff;
	background: url(../images/bg-2.png) bottom repeat-x;
	}
.item-2:hover > .overlay{
	display: block;
	}
.item-2 > .overlay .name{
	margin: 0 0 15px;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	}
.item-2 > .overlay .description{
	color: #c5c5c5;
	font-size: 12px;
	line-height: 14px;
	}
.item-2 > .overlay .trailer{
	position: absolute;
	bottom: 16px;
	left: 14px;
	padding: 0 0 0 23px;
	height: 19px;
	font-size: 10px;
	line-height: 20px;
	text-transform: uppercase;
	background: url(../images/icon-trailer.png) no-repeat
	}
.item-2 > .overlay .button-play{
	position: absolute;
	right: 7px;
	bottom: 6px;
	}
*/


.items {
	padding: 25px 0 0 25px;
	width: 995px;
	}
.items > .items-group {
	float: left;
	width: 660px;
	}
.items > .sidebar-banners {
	float: left;
	margin: 0 0 0 -6px;
	}
.items > .sidebar-banners > .banner {
	border: 1px solid #000000;
	margin: 0 0 49px;
	font-size: 0;
	line-height: 0;
	}

.items-2 {
	overflow: hidden;
	}
.items-2 > .inner{
	padding: 15px 0 0 18px;
	width: 1000px;
	border-bottom: 1px solid #e9e9e9;
	}
.items-2 > .inner.i1{
	background: #fafafa
	}
.items-2 .item {
	margin-bottom: 32px;
	}

.items-2 > .inner.i2{
	padding: 15px 0 0 25px;
	width: 1000px;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	background: #fafafa
	}
	
.items-3 {
	padding: 15px 0 0 18px;
	width: 1000px;
	_border-bottom: 1px solid #e9e9e9;
	}
	

	
.pagination{
	padding: 24px 20px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	border-top: 1px solid #f3f3f3
	}

.pagination > a,
.pagination > span{
	display: inline-block;
	padding: 0 5px;
	height: 15px;
	color: #57585a;
	vertical-align: middle
	}
.pagination > a.active,
.pagination > a:hover{
	color: #b1b1b2;
	text-decoration: none
	}
.pagination > a.prev{
	margin: 0 60px 0 0;
	width: 8px;
	background: url(../images/bullet-9.png) no-repeat
	}
.pagination > a.prev:hover,
.pagination > a.prev.inactive{
	width: 8px;
	background: url(../images/bullet-9-inactive.png) no-repeat
	}
.pagination > a.next{
	margin: 0 0 0 60px;
	width: 8px;
	height: 15px;
	background: url(../images/bullet-8.png) no-repeat
	}
.pagination > a.next:hover,
.pagination > a.next.inactive{
	width: 8px;
	height: 15px;
	background: url(../images/bullet-8-inactive.png) no-repeat
	}
	
.player{
	position: relative;
	}
.player > .video{}
.player .controls{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0 15px;
	height: 154px;
	background: url(../images/bg-15.png) bottom repeat-x;
	}
.player .buttons{
	margin: 70px 0 0;
	padding: 0 0 8px;
	height: 37px;
	font-size: 0;
	border-bottom: 1px solid #322f2b
	}
.player .buttons span,
.player .buttons a{
	display: inline-block;
	vertical-align: middle;
	}
.player .p-button{
	margin: 0 15px 0 0;
	width: 37px;
	height: 37px;
	background: url(../images/icon-play-2.png) no-repeat;
	}
.player .p-button.paused{
	background: url(../images/icon-pause.png) no-repeat;
	}
.player .bar{
	height: 2px;
	border: 1px solid #776f63;
	border-radius: 1px;
	}
.player .bar.p{
	margin: 0 15px 0 0;
	width: 360px;
	}
.player .bar.s{
	margin: 0 7px;
	width: 60px;
	}
.player .bar > .inner{
	float: left;
	height: 2px;
	background: #fff;
	}
.player .bar.s > .inner{
	background: #4e90f4;
	}
.player .bar .b{
	float: left;
	margin: -5px 0 0 -6px;
	width: 13px;
	height: 13px;
	background: url(../images/bullet-17.png) no-repeat;
	cursor: pointer
	}
.player .time{
	margin: 0 13px 0 0;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	}
.player .time.total{
	color: #508be3
	}
.player .s-button{
	margin: 0 0 0 5px;
	width: 19px;
	height: 21px;
	background: url(../images/icon-sound.png) no-repeat
	}
.player .s-button.muted{
	background: url(../images/icon-mute.png) no-repeat
	}
.player .fs-button{
	width: 30px;
	height: 29px;
	background: url(../images/icon-fullsize.png) no-repeat center;
	border: 1px solid #776f63;
	}
.player	.options{
	height: 38px;
	}
.player	.options > ul > li{
	position: relative;
	float: left;
	padding: 0 10px 0 15px;
	border-right: 1px solid #34322f;
	}
.player	.options > ul > li.v{
	width: 218px;
	}
.player	.options > ul > li.s{
	width: 148px;
	}
.player	.options > ul > li.q{
	width: 222px;
	border: none
	}
.player	.options > ul > li > a{
	display: block;
	color: #fff;
	font-size: 12px;
	line-height: 38px;
	text-decoration: none;
	background: url(../images/bullet-18.png) right no-repeat
	}
.player	.options > ul > li:hover > a{
	background: url(../images/bullet-19.png) right no-repeat
	}
.player	.options > ul > li > a:hover{
	color: #508be3;
	}
.player	.options > ul > li > ul{
	display: none;
	position: absolute;
	top: 38px;
	left: -1px;
	right: 0;
	padding: 0 30px 0 15px;
	background: #000;
	z-index:99
	}
.player	.options > ul > li:hover > ul{
	display: block
	}
.player	.options > ul > li.v > ul{
	left: -15px;
	padding-left: 30px;
	}
.player	.options > ul > li > ul > li{}
.player	.options > ul > li > ul > li > a{
	display: block;
	padding: 0 5px 0 0;
	color: #fff;
	font-size: 12px;
	line-height: 38px;
	text-decoration: none;
	border-top: 1px solid #262626
	}
.player	.options > ul > li > ul > li:hover > a{
	color: #508be3;
	}
.player	.options > ul > li a img{
	margin: 0 13px 0 0;
	vertical-align: middle;
	}
.player	.options > ul > li a:hover img{
	opacity: .5
	}
	
	
	
	
	
.popup-shader{
	position: fixed;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../images/bg-3.png);
	z-index: 999
	}
.popup{
	position: fixed;
	top: 183px;
	left: 50%;
	margin: 0 0 0 -315px;
	width: 630px;
	background: #fff;
	border-radius: 2px;
	box-shadow: 5px 5px 5px #000;
	z-index: 9999
	}
.popup > .header{
	overflow: hidden;
	position: relative;
	padding: 15px 20px;
	border-bottom: 1px solid #f1f1f1
	}
.popup > .header .close{
	position: absolute;
	top: 18px;
	right: 17px;
	width: 21px;
	height: 20px;
	background: url(../images/icon-close-2.png) no-repeat
	}
.popup > .header .type{
	height: 26px;
	line-height: 26px;
	}
.popup > .header .type * {
	vertical-align: middle
	}
.popup > .header .type span{
	display: inline-block;
	padding: 0 5px;
	}
.popup > .header .type a{
	display: inline-block;
	height: 26px;
	color: #57585a;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase
	}
.popup > .header .type a.b{
	padding: 0 9px;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	background: #336fc9;
	border-radius: 2px;
	}
.popup > .body{
	overflow: hidden;
	position: relative;
	padding: 0px 20px;
	}
.popup > .body .left{
	float: left;
	padding: 10px 0 0;
	width: 290px;
	height: 320px;
	border-right: 1px solid #f1f1f1
	}
.popup > .body label{
	display: block;
	margin: 0 0 5px;
	color: #57585a;
	font-size: 12px;
	}
.popup > .body input[type=text]{
	display: block;
	margin: 0px 0 18px;
	padding: 0 10px;
	width: 238px;
	height: 43px;
	color: #57585a;
	font-size: 16px;
	background: #fff;
	border: 1px solid #cccccc;
	border-radius: 2px;
	}
.popup > .body .captcha{
	position: relative;
	display: block;
	margin: 30px 0 20px;
	width: 258px;
	height: 54px;
	text-align: center;
	background: #fde2f1;
	border: 1px solid #cccccc;
	border-radius: 2px;
	}
.popup > .body .captcha .reload{
	position: absolute;
	top: 6px;
	right: 7px;
	width: 12px;
	height: 12px;
	background: url(../images/icon-reload.png) no-repeat
	}
.popup > .body .right{
	float: left;
	padding: 30px 0 0 30px;
	width: 260px;
	color: #57585a;
	font-size: 12px;
	line-height: 16px;
	}
.popup > .body .right p{
	margin-bottom: 0;
	}
.popup > .body .right input[type=checkbox]{
	float: left;
	margin: 3px 7px 25px 0;
	}
.popup > .body .social{
	overflow: hidden;
	margin: 30px 0 45px;
	}
.popup > .body .social a{
	float: left;
	margin: 0 7px 0 0;
	width: 55px;
	height: 56px;
	background-image: url(../images/social-icons-2.png);
	background-repeat: no-repeat
	}
.popup > .body .social a.fb{
	background-position: 0 0
	}
.popup > .body .social a.tw{
	background-position: -55px 0
	}
.popup > .body .social a.vk{
	background-position: -110px 0
	}
.popup > .body .social a.go{
	background-position: -165px 0
	}
	
.popup > .footer{
	overflow: hidden;
	position: relative;
	padding: 10px 20px;
	text-align: center;
	border-top: 1px solid #f1f1f1
	}
.popup-slideshow{
	position: absolute;
	top: 51px;
	left: 0;
	width: 100%;
	z-index: 9999
	}
.popup-slideshow .slideshow{
	overflow: hidden;
	position: relative;
	padding: 145px 0 65px;
	height: 337px;
	}
.popup-slideshow .close{
	position: absolute;
	top: 0;
	right: 65px;
	width: 53px;
	height: 80px;
	background: url(../images/icon-close-4.png) 10px 36px no-repeat #205ab0;
	box-shadow: 0 0 5px #000;
	z-index: 9
	}
.popup-slideshow .control{
	position: absolute;
	top: 305px;
	width: 63px;
	height: 63px;
	z-index: 99
	}
.popup-slideshow .control.prev{
	left: 97px;
	background: url(../images/arrow-left-2.png) no-repeat;
	}
.popup-slideshow .control.next{
	right: 97px;
	background: url(../images/arrow-right-2.png) no-repeat;
	}
.popup-slideshow .slideshow img{
	display: none;
	}
.popup-slideshow .slideshow img.current{
	position: relative;
	display: block;
	margin: 0 auto;
	z-index:111
	}
.popup-slideshow .slideshow img.prev,
.popup-slideshow .slideshow img.next{
	display: block;
	position: absolute;
	top: 238px;
	max-height: 189px;
	z-index: 9
	}
.popup-slideshow .slideshow img.prev{
	left: -200px;
	}
.popup-slideshow .slideshow img.next{
	right: -200px
	}
.popup-slideshow > .thumbnails{
	max-width: 1450px;
	text-align: center;
	}
.popup-slideshow > .thumbnails > a{
	display: inline-block;
	margin: 0 7px 29px;
	padding: 5px;
	font-size: 0;
	line-height: 0;
	}
.popup-slideshow > .thumbnails > a:hover{
	background: #2c5ca5
	}
.popup-slideshow > .thumbnails > a > img{
	width: 124px;
	height: 72px;
	border: 1px solid #000;
	}

.share-links{}
.share-links > li{
	position: relative;
	float: left;
	margin: 0 3px 0 0;
	}
.share-links > li > a{
	display: block;
	width: 34px;
	height: 46px;
	}
.share-links > li.bookmark > a{
	background: url(../images/icon-bookmark.png) no-repeat
	}
.share-links > li.share > a{
	background: url(../images/icon-share.png) no-repeat
	}
.share-links > li.bookmark:hover > a{
	background: url(../images/icon-bookmark-1.png) no-repeat
	}
.share-links > li.share:hover > a{
	background: url(../images/icon-share-1.png) no-repeat
	}
.share-links > li > div{
	display: none;
	position: absolute;
	top: 46px;
	right: -2px;
	width: 288px;
	height: 71px;
	background: url(../images/bg-12.png)
	}
.share-links > li:hover > div{
	display: block
	}
.share-links > li > div > div{
	padding: 31px 0 0 18px;
	}
.set{
	position: relative;
	float: left;
	margin: 0 32px 20px 0;
	width: 300px;
	height: 197px;
	color: #fff;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #848484
	}
.set > .bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 197px;
	border-radius: 3px;
	}
.set:after{
	content: url(../images/set-shader.png);
	position: absolute;
	top: 0;
	left: 0;
	}
.set > .name{
	position: absolute;
	bottom: 38px;
	left: 17px;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	}
.set > .items{
	position: absolute;
	bottom: 13px;
	left: 17px;
	padding: 0 0 0 28px;
	height: 15px;
	font-weight: bold;
	font-size: 10px;
	line-height: 13px;
	background: url(../images/icon-items.png) no-repeat
	}
.set:hover > .items{
	color: #fff;
	}
	
	
.social-likes{
	position: absolute;
	top: -1px;
	left: -66px;
	padding: 7px 6px;
	background: #fff;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	}
	
.video-block{
	background: #0d0d10;
	border-radius: 3px 3px 0 0
	}
.video-block > .left{
	float: left;
	width: 698px;
	background: #1b1b1d;
	border-right: 1px solid #2f3033;
	}
.video-block > .right{
	float: left;
	width: 298px;
	}
.video-block .header{
	position: relative;
	padding: 12px 10px;
	background: url(../images/bg-8.png) top repeat-x #050507;
	border-radius: 3px 0 0 0
	}
.video-block .header .share-links{
	position: absolute;
	top: 0;
	right: 13px;
	}
.video-block .header h2 {
	margin: 0 0 0px;
	color: #fff;
	font-size: 24px;
	text-transform: none
	}
.video-block .header h2 .sub{
	color: #2d66bc;
	font-weight: normal;
	font-style: italic;
	}
.video-block .player{
	padding: 7px;
	width: 683px;
	min-height: 386px;
	background: #1b1b1d;
	}
.video-block .poster{
	float: left;
	position: relative;
	margin: 32px 20px;
	width: 157px;
	height: 220px;
	}
.video-block .poster img{
	border: 1px solid #3a3a3c;
	border-radius: 3px;
	}
.video-block .poster .trailer{
	position: absolute;
	bottom: 1px;
	left: 1px;
	width: 155px;
	height: 52px;
	text-align: center;
	background: url(../images/bg-4.png);
	}
.video-block .poster .trailer a{
	display: inline-block;
	margin: 13px 0 0;
	padding: 0 0 0 23px;
	height: 19px;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	line-height: 19px;
	_text-decoration: none;
	text-transform: uppercase;
	background: url(../images/icon-trailer.png) no-repeat
	}
.video-block .frames{
	float: left;
	margin: 50px 0px 0;
	padding: 0;
	}
.video-block .frames a{
	position: relative;
	display: block;
	margin: 0 22px 20px 0;
	width: 78px;
	height: 49px;
	color: #fff;
 	text-decoration: none;
	}
.video-block .frames a.last{
	margin-right: 0
	}
.video-block .frames a img{
	position: absolute;
	top: 0;
	left: 0;
	width: 78px;
	height: 49px;
	}
.video-block .frames a > span{
	position: absolute;
	top: 0;
	left: 0;
	width: 78px;
	height: 49px;
	background: url(../images/bg-4.png);
	}
.video-block .frames a > span > span{
	display: block;
	padding: 30px 0 0 33px;
	height: 15px;
	font-weight: bold;
	font-size: 10px;
	line-height: 13px;
	background: url(../images/icon-items.png) 5px 30px no-repeat;
	}
.video-block .frames a.f2 > span > span{
	padding: 0;
	line-height: 49px;
	text-transform: uppercase;
	text-align: center;
	background: none;
	}
.video-block .frames a.f3 > span > span{
	padding: 0;
	height: 49px;
	text-transform: uppercase;
	text-align: center;
	background: none;
	background: url(../images/icon-frames-2.png) center no-repeat
	}
.video-block .stars{
	clear: left;
	margin: 0 0 12px 41px;
	width: 207px;
	height: 14px;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	}
.video-block .stars .s{
	float: left;
	width: 78px;
	height: 14px;
	background: url(../images/stars-grey.png) no-repeat
	}
.video-block .stars .s > div{
	overflow: hidden;
	width: 78px;
	height: 14px;
	background: url(../images/stars-yellow.png) no-repeat
	}
.video-block .stars span{
	float: right
	}
.video-block .rating{
	margin: 22px 0 0 41px;
	color: #00AC00;
	width: 213px;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	}
.video-block .rating > span span{
	font-weight: normal;
	font-size: 14px;
	}
.video-block .rating .bar{
	margin: 6px 0 8px;
	width: 213px;
	height: 5px;
	font-size: 0;
	background: url(../images/bg-9.png) repeat-x;
	border-radius: 2px;
	}
.video-block .rating .bar div{
	height: 5px;
	background: url(../images/bg-10.png) repeat-x;
	border-radius: 2px 0 0 2px;
	}
.video-block .rating .likes{
	float: left;
	padding: 0 0 0 20px;
	height: 12px;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	background: url(../images/icon-like.png) no-repeat
	}
.video-block .rating .dislikes{
	float: right;
	padding: 0 0 0 20px;
	height: 12px;
	color: #515151;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	background: url(../images/icon-dislike.png) no-repeat
	}
.video-block .rating .buttons{
	margin: 21px 0;
	padding: 12px 0 0;
	width: 213px;
	border-top: 1px solid #242526;
	}
.video-block .rating .buttons a{
	display: block;
	padding: 0 0 0 27px;
	height: 20px;
	color: #515151;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase
	}
.video-block .rating .buttons a.rulit{
	float: left;
	background: url(../images/icon-like-5.png) 0 0 no-repeat
	}
.video-block .rating .buttons a.ne-rulit{
	float: right;
	background: url(../images/icon-dislike-2.png) 0 2px no-repeat
	}
.video-block > .bottom{
	background: #222429;
	border-top: 1px solid #2f3033
	}
.video-block .video-series{
	position: relative;
	padding: 15px;
	}
.video-block .video-series.all{
	padding-right: 0;
	}
.video-block .video-series.all > .inner{
	height: 123px;
	width: 1000px;
	}
.video-block .video-series > .inner{
	}
.video-block .video-series .nav{
	display: none;
	padding: 0 15px 0 0;
	height: 57px;
	}
.video-block .video-series.all .nav{
	display: block;
	margin:  -16px 0 0;
	}
.video-block .video-series .nav .left{
	float: left;
	}
.video-block .video-series .nav .left li{
	float: left;
	margin: 0 27px 0 3px;
	}
.video-block .video-series .nav .left a{
	display: block;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	line-height: 55px;
	border-top: 1px solid #2f3033
	}
.video-block .video-series .nav .left li:hover a,
.video-block .video-series .nav .left li.current a{
	color: #515151;
	text-decoration: none;
	border-top: 1px solid #2d66bc
	}
.video-block .video-series .nav .right{
	float: right;
	padding: 3px 0 0;
	}
.video-block .video-series .nav .right > li{
	position: relative;
	float: left;
	height: 42px;
	border: 1px solid #2f3033;
	box-shadow: 0 0 5px #1b1c20;
	border-radius: 4px;
	}
.video-block .video-series .nav .right > li:hover{
	border-radius: 4px 4px 0 0!important
	}
.video-block .video-series .nav .right > li > a{
	transition: none;
	position: relative;
	display: block;
	padding: 0 24px 0 37px;
	height: 42px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	line-height: 42px;
	background: url(../images/icon-list-4.png) 7px 15px no-repeat #1b1c20;
	border-radius: 4px;
	z-index: 100
	}
.video-block .video-series .nav .right > li > a:after{
	content: url(../images/bullet-15-1.png);
	position: absolute;
	top: -1px;
	right: 0;
	}
.video-block .video-series .nav .right > li:hover > a:after{
	content: url(../images/bullet-15.png);
	position: absolute;
	top: -1px;
	right: 0;
	}

.video-block .video-series .nav .right > li:hover > a{
	color: #515151;
	text-decoration: none;
	height: 43px;
	background: url(../images/icon-list-3.png) 7px 15px no-repeat #1b1c20;
	border-radius: 4px 4px 0 0!important
	}
.video-block .video-series .nav .right > li > ul{
	display: none;
	position: absolute;
	top: 42px;
	right: -1px;
	padding: 10px 12px 0;
	width: 140px;
	border: 1px solid #2f3033;
	box-shadow: 0 0 5px #1b1c20;
	background: #1b1c20;
	border-radius: 4px 0 4px 4px;
	z-index: 99
	}
.video-block .video-series .nav .right > li:hover > ul{
	display: block;
	}
.video-block .video-series .nav .right > li > ul > li > a{
	display: block;
	margin: 0 0 10px;
	color: #fff;
	font-size: 12px;
	}
.video-block .video-series .nav .right > li > ul > li:hover > a{
	color: #515151;
	text-decoration: none;
	}
	
	
	
.video-block .series{
	position: relative;
	float: left;
	margin: 0 19px 15px 0;
	width: 146px;
	height: 92px;
	box-shadow: 0 0 1px #000
	}
.video-block .series > img{
	position: absolute;
	width: 146px;
	height: 92px;
	}
.video-block .series .shader{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../images/bg-4.png)
	}
.video-block .series .icon-play{
	margin: 37px 0 0 59px;
	width: 27px;
	height: 27px;
	background: url(../images/icon-play.png) no-repeat
	}
.video-block .series .n{
	position:absolute;
	top: 8px;
	right: 6px;
	padding: 0 4px 0 0;
	width: 27px;
	height: 22px;
	color: #fff;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	background: url(../images/icon-frames-3.png) no-repeat
	}
	
.video-block .video-series .all{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 146px;
	height: 92px;
	color: #316cc5;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	background: #0d0d10;
	border-radius: 2px;
	box-shadow: 0 0 1px #000
	}
.video-block .video-series.all .all{
	display: none;
	}
.video-block .video-series .all span{
	display: block;
	margin: 37px 0 0 24px;
	padding: 0 0 0 26px;
	height: 19px;
	line-height: 19px;
	background: url(../images/bullet-13.png) no-repeat
	}
.video-block .video-series .hide{
	clear: both;
	display: block;
	padding: 10px 0;
	color: #316cc5;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	}
.video-block .video-series.all .hide{
	display: block;;
	}
.video-block .video-series .hide span{
	display: inline-block;
	padding: 0 0 0 26px;
	height: 19px;
	line-height: 19px;
	background: url(../images/bullet-14.png) no-repeat
	}
.video-descr{
	padding: 18px 0 18px 18px; 
	background: #fafafa;
	border-bottom: 1px solid #e9e9e9
	}
.video-descr > .d1{
	float: left;
	width: 250px;
	}
.video-descr > .d1 p{
	margin: 0 0  5px;
	padding: 0 0 0 100px;
	color: #2d66bc;
	font-size: 12px;
	}
.video-descr > .d1 strong{
	float: left;
	margin: 0 0 0 -100px;
	color: #949494;
	}
.video-descr > .d2{
	float: left;
	margin: 0 0 0 70px;
	width: 645px;
	color: #57585a;
	font-size: 14px;
	line-height: 20px;
	}
.video-descr > .d2 a{
	font-size: 12px;
	}
.video-descr > .d3{
	clear: both;
	_margin: 20px 0 0 0px;
	padding: 20px 0 0 0
	}
.video-descr > .d3 .a{
	position:relative;
	display: inline-block;
	margin: 0 2px 12px 0;
	padding: 0 16px;
	height: 27px;
	color: #2d66bc;
	font-size: 12px;
	line-height: 27px;
	background: url(../images/bg-11.png) bottom repeat-x #fff;
	border: 1px solid #dfdfdf;
	border-radius: 15px;
	}
.video-descr > .d3 .a:hover{
	text-decoration: none;
	background: #f3f3f3
	}
.video-descr > .d3 .a > .pp{
	display: none;
	position: absolute;
	top: 26px;
	left: 5px;
	width: 289px;
	height: 180px;
	background: url(../images/bg-13.png) no-repeat;
	z-index: 99
	}
.video-descr > .d3 .a:hover > .pp{
	display: block;
	}
.video-descr > .d3 .a > .pp > .inner{
	padding: 17px 0 0 13px;
	}
.video-descr > .d3 .a > .pp .photo{
	float: left;
	margin: 0 18px 0 0;
	width: 67px;
	height: 96px;
	}
.video-descr > .d3 .a > .pp .text{
	float: left;
	width: 185px;
	height: 107px;
	color: #c5c5c5;
	font-size: 12px;
	line-height: 14px;
	}
.video-descr > .d3 .a > .pp .name{
	margin: 0 0 10px;
	color: #fff;
	font-weight: bold;
	}
.video-descr > .d3 .a > .pp a{
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	line-height: 52px;
	text-transform: uppercase
	}
.video-descr > .d3 .a > .pp .bio{
	float: left;
	padding: 0 12px 0 3px;
	}
.video-descr > .d3 .a > .pp .films{
	float: left;
	margin: 0 0 0 11px;
	padding: 0 0 0 39px;
	background: url(../images/icon-play.png) left no-repeat
	}
.video-descr > .d3 .all{
	display: block;
	margin: 3px 0 0;
	padding: 0 0 0 27px;
	height: 19px;
	color: #acacac;
	font-weight: bold;
	font-size: 10px;
	line-height: 19px;
	text-transform: uppercase;
	background: url(../images/bullet-2.png) no-repeat;
	}
.video-descr > .d3 .hidden{
	}
.video-descr > .d3 .b{
	padding: 12px 0 0;
	border-top: 1px solid #e9e9e9
	}
.video-descr > .d3 .b h5{
	display: inline-block;
	min-width: 115px;
	}
#page{
	}
#header{
	position:relative;
	background: url(../images/header-bg.png) top repeat-x #000102;
	border-bottom: 1px solid #666667;
	z-index: 9999
	}
.home #header{
	padding: 0 150px;
	}
.home #header > .inner{
	width: auto;
	}
#header > .inner{
	position: relative;
	margin: 0 auto;
	width: 1000px;
	height: 51px;
	}
#header #logo{
	overflow: hidden;
	display: block;
	position: absolute;
	top: 9px;
	left: 0px;
	width: 81px;
	height: 32px;
	text-indent: 81px;
	line-height: 100px;
	background: url(../images/logo.png) no-repeat;
	transition: none
	}
#header .search{
	position: absolute;
	top: 0px;
	right: 160px;
	bottom: 0;
	left: 515px;
	}
#header .search .fields{
	position: absolute;
	top: 9px;
	right: 15px;
	bottom: 9px;
	left: 24px;
	background: #000;
	border: 1px solid #272a2e;
	border-radius: 15px;
	}
#header .search .fields .wrapper{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 13px;
	right: 35px;
	}
#header .search .fields input[type=text]{
	width: 100%;
	height: 100%;
	color: #57585a;
	font-size: 14px;
	line-height: 32px;
	background: none;
	border: none
	}
#header .search .fields input[type=submit]{
	position: absolute;
	top: 6px;
	right: 12px;
	width: 17px;
	height: 17px;
	background: url(../images/icon-magnifier.png) no-repeat;
	border: none;;
	cursor: pointer
	}
#header .active-search .search{
	left: 109px;
	background: url(../images/menu-main-sep.png) left no-repeat
	}
#header .active-search .search .fields{
	background: #fff;
	}
#header .active-search .search .fields:after{
	content: url(../images/bullet-16.png);
	position: absolute;
	left: 28px;
	bottom: -9px;
	}
#header .active-search .search .pp{
	position: absolute;
	top: 52px;
	left: 0;
	padding: 12px 0 0;
	width: 100%;
	background: #fff;
	border-radius: 0 0 4px 4px;
	box-shadow: 1px 2px 3px #8c8c8d
	}
#header .active-search .search .pp > li{
	border-bottom: 1px solid #e5e5e5;
	}
#header .active-search .search .pp > li.all-formats{
	background: #fafafa;
	}
#header .active-search .search .pp > li > a{
	display: block;
	padding: 5px 18px;
	height: 59px;
	text-decoration: none
	}

#header .active-search .search .pp > li > a > img{
	float: left;
	margin: 0 11px 0 0;
	width: 42px;
	height: 59px;
	}
#header .active-search .search .pp > li > a > .name{
	margin: 0 0 4px;
	color: #316cc5;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	}
#header .active-search .search .pp > li:hover > a > .name{
	text-decoration: underline
	}
#header .active-search .search .pp > li > a > .descr{
	margin: 0 0 5px;
	color: #808080;
	font-style: italic;
	font-size: 12px;
	}
#header .active-search .search .pp > li > a > .format{}
#header .active-search .search .pp > li.no-hd > a > .format .hd{
	opacity: .35
	}
#header .active-search .search .pp > li.no-fullhd > a > .format .fullhd{
	opacity: .35
	}
#home-header{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 644px;
	}
#home-header .carousel{
	position: relative;
	height: 644px;
	}
#home-header .carousel img.bg{
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0 0 0 -960px;
	}
#home-header .carousel .text{
	position: relative;
	margin: 0 auto;
	padding: 260px 0 0;
	width: 1000px;
	color: #fff;
	}
#home-header .carousel .text .name{
	margin: 0 0 25px;
	font-weight: bold;
	font-size: 48px;
	line-height: 48px;
	}
#home-header .carousel .text .description{
	margin: 0 0 10px;
	font-size: 24px;
	line-height: 24px;
	}
#home-header .carousel .text .director{
	margin: 0 0 10px;
	font-size: 18px;
	line-height: 18px;
	}
#home-header .carousel .control{
	position: absolute;
	top: 290px;
	width: 63px;
	height: 63px;
	}
#home-header .carousel .control.prev{
	left: 150px;
	background: url(../images/arrow-left-1.png) no-repeat
	}
#home-header .carousel .control.next{
	right: 150px;
	background: url(../images/arrow-right-1.png) no-repeat
	}
@media  (max-width: 1300px) {
	#home-header .carousel .control.prev{
	left: 50px;
	}
#home-header .carousel .control.next{
	right: 50px;
	}
	}
#home-header .categories{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 8px 0 0;
	width: 100%;
	height: 44px;
	font-size: 0;
	text-align: center;
	background: url(../images/bg-1.png);
	}
#home-header .categories.opened{
	top: 0;
	right: 0;
	height: auto;
	padding: 47px 0 0;
	background: url(../images/bg-3.png);
	}
#home-header .categories > a{
	display: inline-block;
	padding: 0 50px 0 0;
	height: 36px;
	color: #fff;
	font-weight: 300;
	font-size: 24px;
	line-height: 30px;
	_text-decoration: none;
	background: url(../images/icon-list.png) right no-repeat
	}
#home-header .categories.opened > a{
	background: url(../images/icon-close.png) right no-repeat
	}
#home-header .categories > a:hover{
	}
#home-header .categories > .icons{
	display: none;
	margin: 0 0 60px;
	}
#home-header .categories.opened > .icons{
	display: block;
	}
#home-header .categories > .icons a{
	display: inline-block;
	margin: 0 0 -1px -1px;
	padding: 120px 0 30px;
	width: 168px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	background-position: center 29px;
	background-repeat: no-repeat;
	border: 1px solid #34312e
	}
#home-header .categories > .icons a.line-1{
	border-top: none
	}
#home-header .categories > .icons a.line-3{
	border-bottom: none
	}
#home-header .categories > .icons a.first{
	border-left: none
	}
#home-header .categories > .icons a.last{
	border-right: none
	}
#home-header .categories > .icons a.c1{ background-image: url(../images/cat-icon-1.png) }
#home-header .categories > .icons a.c2{ background-image: url(../images/cat-icon-2.png) }
#home-header .categories > .icons a.c3{ background-image: url(../images/cat-icon-3.png) }
#home-header .categories > .icons a.c4{ background-image: url(../images/cat-icon-4.png) }
#home-header .categories > .icons a.c5{ background-image: url(../images/cat-icon-5.png) }
#home-header .categories > .icons a.c6{ background-image: url(../images/cat-icon-6.png) }
#home-header .categories > .icons a.c7{ background-image: url(../images/cat-icon-7.png) }
#home-header .categories > .icons a.c8{ background-image: url(../images/cat-icon-8.png) }
#home-header .categories > .icons a.c9{ background-image: url(../images/cat-icon-9.png) }
#home-header .categories > .icons a.c10{ background-image: url(../images/cat-icon-10.png) }
#home-header .categories > .icons a.c11{ background-image: url(../images/cat-icon-11.png) }
#home-header .categories > .icons a.c12{ background-image: url(../images/cat-icon-12.png) }
#home-header .categories > .icons a.c13{ background-image: url(../images/cat-icon-13.png) }
#home-header .categories > .icons a.c14{ background-image: url(../images/cat-icon-14.png) }
#home-header .categories > .icons a.c15{ background-image: url(../images/cat-icon-15.png) }
#home-header .categories > .icons a.c16{ background-image: url(../images/cat-icon-16.png) }
	
.home #body{
	width: auto;
	}	
#body{
	margin: 0 auto;
	width: 1000px;
	}
#body > .inner{
	position: relative;
	margin: 0 0 60px;
	background: #fff;
	border: 1px solid #e4e4e5;
	border-radius: 4px;
	box-shadow: 0 0 2px #eeeeee;
	}

#body > .inner > .sidebar{

	}
#body > .inner > .content{
	}


#footer{
	overflow: hidden;
	padding: 40px 0;
	background:  #222429;
	}
	