.menu{
	}
.menu ul{
	margin: 0;
	padding: 0;
	}
.menu li{
	margin: 0;
	padding: 0;
	list-style: none;
	background: none
	}
#menu-main{
	position: absolute;
	top: 0;
	left: 105px;
	height: 52px;
	}
.active-search #menu-main{
	display: none;
	}
#menu-main >  ul{
	height: 52px;
	background: url(../images/menu-main-sep.png) no-repeat
	}
#menu-main > ul > li{
	float: left;
	width: 135px;
	}
#menu-main > ul > li:hover{
	}
#menu-main > ul > li > a{
	display: block;
	height: 50px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background: url(../images/menu-main-sep.png) right no-repeat
	}
#menu-main >  ul > li.movies > a{
	border-bottom: 2px solid #2d66bc
	}
#menu-main >  ul > li.tv-series > a{
	border-bottom: 2px solid #2dbc88
	}
#menu-main >  ul > li.cartoons > a{
	border-bottom: 2px solid #ffc154
	}
#menu-main >  ul > li.movies:hover > a,
#menu-main >  ul > li.movies.current > a{
	color: #2d66bc;
	border-bottom: 2px solid #5d5d5d
	}
#menu-main >  ul > li.tv-series:hover > a,
#menu-main >  ul > li.tv-series.current > a{
	color: #2dbc88;
	border-bottom: 2px solid #5d5d5d
	}
#menu-main >  ul > li.cartoons:hover > a,
#menu-main >  ul > li.cartoons.current > a{
	color: #ffc154;
	border-bottom: 2px solid #5d5d5d
	}
#menu-main > ul > li.first > a{
	}
#menu-main > ul > li.last{
	background: none
	}
#menu-main > ul > li.last > a{
	}
#menu-main > ul > li:hover > a,
#menu-main > ul > li.current > a{
	background-color: #000
	}
#menu-main > ul > li.current > a{
	}
	
#menu-main > ul > li > ul{
	display: none;
	}
#menu-main > ul > li:hover > ul{
	display: block
	}
#menu-main > ul > li > ul > li{
	}
#menu-main > ul > li > ul > li > a{
	}
#menu-main > ul > li > ul > li:hover > a{
	}
	

#menu-acc{
	position: absolute;
	top: 0;
	right: 0px;
	height: 52px;
	}
#menu-acc >  ul{
	height: 52px;
	padding: 0 0 0 1px;
	background: url(../images/menu-main-sep.png) left bottom no-repeat
	}
#menu-acc > ul > li{
	position:relative;
	float: left;
	padding: 0 0 0;
	width: 80px;
	height: 52px;
	background: url(../images/menu-main-sep.png) no-repeat right bottom 
	}
#menu-acc > ul > li:hover{
	_background: #1b1c20
	}
#menu-acc >  ul > li.langs{
	background: none;
	_background: url(../images/langs-sep.png) left no-repeat
	}
#menu-acc >  ul > li.langs:hover{
	_background: url(../images/menu-main-sep.png) no-repeat left bottom  #1b1c20
	}
#menu-acc > ul > li > a{
	position: relative;
	display: block;
	height: 52px;
	color: #fff;
	font-weight: 300;
	font-size: 12px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	z-index: 99;
	background: url(../images/menu-main-sep.png) right bottom no-repeat
	}
#menu-acc > ul > li:hover > a{
	background-color: #1b1c20!important
	}
#menu-acc >  ul > li.acc > a{
	_padding-left: 18px;
	_background: url(../images/icon-lock.png) 17px center no-repeat
	}
#menu-acc >  ul > li.acc.logged > a{
	_margin: 0 5px 0 0;
	padding-right: 10px;
	background: url(../images/bullet-5.png) right no-repeat
	}
#menu-acc >  ul > li.langs > a{
	_margin: 0 5px 0 0;
	background: url(../images/bullet-5.png) right no-repeat
	}
#menu-acc >  ul > li > a > img{
	margin: 0 6px 0 0;
	vertical-align: middle;
	}
#menu-acc > ul > li > ul{
	display: none;
	position: absolute;
	top: 51px;
	right: 0;
	padding: 5px 0;
	min-width: 100px;
	background: #1b1c20;
	border: 1px solid #2f3033;
	border-radius: 3px 0 3px 3px;
	z-index: 9
	}
#menu-acc > ul > li:hover > ul{
	display: block
	}
#menu-acc > ul > li > ul > li{}
#menu-acc > ul > li > ul > li > a{
	display: block;
	padding: 5px 12px;
	color: #fff;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	text-decoration: none;
	z-index: 99
	}
#menu-acc >  ul > li.langs li img{
	margin: 0 8px 0 0;
	vertical-align: middle;
	}
#menu-acc > ul > li > ul > li:hover > a{
	color: #515254
	}


#menu-filters{
	position: relative;
	height: 59px;
	border-bottom: 1px solid #f3f3f3;
	z-index: 11
	}
#menu-filters > ul{
	float: left;
	}
#menu-filters > ul > li{
	float: left;
	}
#menu-filters > ul > li:hover{
	}
#menu-filters > ul.f1{
	padding: 0 9px 0 17px;
	border-right: 1px solid #f3f3f3
	}
#menu-filters > ul.f1 > li > a{
	display: block;
	margin: 0 11px;
	padding: 0 2px;
	height: 53px;
	color: #57585a;
	font-size: 12px;
	line-height: 57px;
	text-decoration: none;
	text-transform: uppercase;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff
	}
#menu-filters > ul.f1 > li.highlighted > a{
	color: #2d66bc
	}
#menu-filters > ul.f1 > li:hover > a,
#menu-filters > ul.f1 > li.active > a,
#menu-filters > ul.f1 > li.active:hover > a{
	color: #2d66bc;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 3px solid #2d66bc
	}
#menu-filters > ul.f1 > li:hover > a{
	font-weight: normal;
	}
	
#menu-filters > ul.f2 > li{
	position: relative;
	padding: 0 0px;
	height: 56px;
	border-top: 3px solid #fff;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	}
	
#menu-filters > ul.f2 > li.l2{
	margin: 0 8px;
	}
#menu-filters > ul.f2 > li > a{
	position: relative;
	display: inline-block;
	padding: 0 26px 0 20px;
	height: 57px;
	color: #57585a;
	font-size: 12px;
	line-height: 60px;
	text-decoration: none;
	text-transform: uppercase;
	background: url(../images/bullet-10.png) right no-repeat;
	_border-bottom: 1px solid #f3f3f3;
	z-index: 99
	}
#menu-filters > ul.f2 > li.l2 > a{
	padding: 0 26px 0 10px;
	}
#menu-filters > ul.f2 > li:hover,
#menu-filters > ul.f2 > li.active,
#menu-filters > ul.f2 > li.active:hover{
	border-top: 3px solid #2d66bc;
	border-right: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	box-shadow: 0 1px 2px #c9c9c9;
	}
#menu-filters > ul.f2 > li:hover > a,
#menu-filters > ul.f2 > li.active > a,
#menu-filters > ul.f2 > li.active:hover > a{
	color: #2d66bc;
	font-weight: bold;
	text-decoration: none;
	background: url(../images/bullet-10-active.png) right no-repeat #fff;
	}
#menu-filters > ul.f2 > li:hover > a{
	font-weight: normal;
	}
#menu-filters > ul.f2 > li > div{
	position: absolute;
	top: 56px;
	left: -1px;
	background: #fff;
	border: 1px solid #e6e6e6;
	_border-top: none;
	box-shadow: 0 2px 2px #c9c9c9;
	z-index: 9
	}
#menu-filters > ul.f2 .submenu{
	display: none;
	}
#menu-filters > ul.f2 .submenu.s1{
	_display: block!important;
	width: 523px;
	}
#menu-filters > ul.f2 .submenu.s2{
	width: 523px;
	}
#menu-filters > ul.f2 .submenu.s3{
	width: 225px;
	}
#menu-filters > ul.f2 > li:hover > .submenu{
	display: block;
	}
#menu-filters > ul.f2 .submenu .body{
	overflow: hidden;
	padding: 25px 0 0 10px
	}

#menu-filters > ul.f2 .submenu .body ul{
	float: left;
	margin: 0 40px 0 0;
	}
#menu-filters > ul.f2 .submenu.s1 .body ul{
	margin: 0 30px 0 0;
	min-width: 124px;
	}
#menu-filters > ul.f2 .submenu.s3 .body ul{
	margin: 0;
	}
#menu-filters > ul.f2 .submenu .body ul > li{
	}
#menu-filters > ul.f2 .submenu .body ul > li > a{
	display: block;
	margin: 0 0	;
	padding: 0 0 15px 12px;
	color: #57585a;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase
	}
#menu-filters > ul.f2 .submenu.s2 .body ul > li > a{
	padding: 0 0 15px 22px;
	}
#menu-filters > ul.f2 .submenu .body ul > li:hover > a{
	transition: none;
	color: #316cc5;
	_font-weight: normal;
	text-decoration: none;
	_text-shadow: 0 0 1px #316cc5
	}
#menu-filters > ul.f2 .submenu.s2 .body ul > li:hover > a{
	transition: none;
	color: #a1a1a1;
	font-weight: normal;
	text-decoration: none;
	}
#menu-filters > ul.f2 .submenu.s2 .body ul > li:hover > a{
	background: url(../images/bullet-12.png)  no-repeat
	}
#menu-filters > ul.f2 .submenu .body ul > li.checked > a,
#menu-filters > ul.f2 .submenu .body ul > li.checked:hover > a{
	color: #316cc5;
	font-weight: bold;
	background: url(../images/bullet-11.png) no-repeat
	}
#menu-filters > ul.f2 .submenu .footer{
	overflow: hidden;
	padding: 9px 15px;
	line-height: 34px;
	border-top: 1px solid #f3f3f3
	}
#menu-filters > ul.f2 .submenu .footer a{
	float: left;
	margin: 0 27px 0 17px;
	color: #57585a;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase
	}
#menu-filters > ul.f2 .submenu .footer a.show{
	float: right;
	margin: 0;
	padding: 0 25px;
	color: #fff;
	background: #316cc5;
	border-radius: 2px;
	}

#menu-filters > ul.f3{
	float: right;
	
	}
#menu-filters > ul.f3 > li{
	border-left: 1px solid #f3f3f3
	}
#menu-filters > ul.f3 > li > a{
	display: block;
	width: 68px;
	height: 56px;
	background-color: #fafafa;
	background-repeat: no-repeat;
	background-position: center;
	border-bottom: 3px solid #d1d1d1
	}
#menu-filters > ul.f3 > li.active > a{
	background-color: #fff;
	border-bottom: 3px solid #fff
	}
#menu-filters > ul.f3 > li.grid > a{
	background-image: url(../images/icon-grid-inactive.png)
	}
#menu-filters > ul.f3 > li.grid.active > a,
#menu-filters > ul.f3 > li.grid:hover > a{
	background-image: url(../images/icon-grid.png)
	}
#menu-filters > ul.f3 > li.list > a{
	background-image: url(../images/icon-list-2-inactive.png)
	}
#menu-filters > ul.f3 > li.list.active > a,
#menu-filters > ul.f3 > li.list:hover> a{
	background-image: url(../images/icon-list-2.png)
	}



#menu-filters > ul > li.first > a{
	}
#menu-filters > ul > li.last{
	}
#menu-filters > ul > li.last > a{
	}
#menu-filters > ul > li.current{
	}
#menu-filters > ul ul li:hover > a,
#menu-filters > ul ul li.current > a{
	color: #2d66bc;
	font-weight: bold;
	text-decoration: underline
	}

	
	

#menu-footer{
	margin: 0 auto;
	width: 1000px;
	}
.home #menu-footer{
	padding-left: 30px;
	}
#menu-footer > ul{
	}
#menu-footer > ul > li{
	float: left;
	width: 250px;
	}
#menu-footer > ul > li:hover{
	}
#menu-footer > ul > li h3{
	margin: 0 0 18px;
	color: #a9a9a9;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	text-align: left;
	}
#menu-footer > ul > li a{
	display: block;
	margin: 0 0 4px;
	padding: 0;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	text-decoration: none;
	}
#menu-footer > div > ul > li.first > a{
	}
#menu-footer > div > ul > li.last{
	}
#menu-footer > div > ul > li.last > a{
	}
#menu-footer > div > ul > li.current{
	}
#menu-footer > ul ul li:hover > a,
#menu-footer > ul ul li.current > a{
	text-decoration: underline
	}
#menu-footer .social a{
	margin: 0 0 10px;
	padding: 0 0 0 40px;
	height: 25px;
	line-height: 25px;
	background-image: url(../images/social-icons.png);
	background-repeat: no-repeat
	}
#menu-footer .social li.youtube a{
	background-position: 0 0
	}
#menu-footer .social li.facebook a{
	background-position: 0 -25px
	}
#menu-footer .social a.google a{
	background-position: 0 -50px
	}
#menu-footer .social li.twitter a{
	background-position: 0 -75px
	}
#menu-footer .social li.vkontakte a{
	background-position: 0 -100px
	}
#menu-footer .more{
	margin: 15px 0 0;
	color: #a9a9a9;
	}
#menu-footer .more:hover{
	text-decoration: underline
	}